.header{
    margin: 0;
    padding: 0;
    background: rgb(195, 0, 255);
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}
.logoCard{
    color: white;
    font-size:23px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    display: flex;
    margin:0 auto;
}
.logoCard img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}