.nav{
    width: 700px;
}
.nav ul{
    top: 15px;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav ul li{
    margin-top: 25px;
    border: none;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: blue;
    width: 200px;
    text-align: center;
    height:30px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.nav ul li:hover{
    background:rgb(36, 172, 226);
}
.auth-icon{
    width: 20px;
    align-items: center;
    justify-content: center;
    right: 3px;
}
.AuthLi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProductIcon{
    width: 20px;
    height: 20px
}
.ProductLi{
    display: flex;
    justify-content: center;
    align-items: center;
}