.authCard{
    width: 300px;
    height: 300px;
    display: flex;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 5px;
    margin: 100px 0 0 300px;
    align-items: center;
    padding-left: 50px;
}
.email{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background: rgb(224, 214, 214);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 15px rgba(161, 81, 81, 0.3);
    cursor:pointer;
}
.password{
    width: 250px;
    box-shadow: 0px 0px 20px 15px rgba(161, 81, 81, 0.3);
    background: rgb(224, 214, 214);
    height: 30px;
    border-radius: 3px;
    border: none;
    margin-bottom: 12px;
    cursor:pointer;
}
.submit{
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width:6rem;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    background:rgb(209, 158, 158);
    height: 2rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submit:active{
    background:red;
    border-radius: 3px;
}
.submit:disabled,
.submit:disabled:hover
.submit:disabled:active{
    background-color: #ccc;
    color: #3f3f3f;

    cursor: not-allowed;

}
.logo{
    margin-bottom: 30px;
    color: rgb(50, 187, 233);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:15px;
}