.sidebar-block{
    width: 250px;
    background:rgb(120, 100, 212);
    height:270px;
    padding:0;
    margin: 0;
}
.sidebar-block h1{
    text-align: center;
    color: white;
    font-family:inherit;
}
.sidebar-block ul{
    padding: 0;
}
.sidebar-block ul li{
    background: rgb(49, 100, 104);
    list-style-type:none;
    font-size: 20px;
    color: honeydew;
    border: none;
    margin-bottom: 25px;
    height: 30px;
    display: flex;
    width:100%;
    align-items: center;
    cursor: pointer;
}
.sidebar-block ul li:active,
.sidebar-block ul li:hover{
    background:rgb(0, 204, 255);
}
.odejda{
    width: 20px;
}
.sidebar-block a{
    color: white;
    text-decoration: none;
}
.sidebar-block a.active{
    border-bottom: 4px solid white;
    color: rgb(231, 223, 223);
}